.venv/
venv/
.vscode/
__pycache__/
memo.txt
credentials.json
client_secrets.json
.cache
secret_json
addssl_client_secrets.json
policehan.py
policezen.py
gototop.py
react.py
tanaka.py
yobro.py
notify.py
greet.py
ffmpeg.exe
ffplay.exe
ffprobe.exe
lantest.py
create_database.py
app.json
autodelete.log

# db file dir
data

# 環境変数
.env
