.venv/
venv/
.vscode/
__pycache__/
memo.txt
credentials.json
client_secrets.json
spotify_artist.py
spotify_track.py
.cache
gototop.py
secret_json
addssl_client_secrets.json
policehan.py
policezen.py
react.py
tanaka.py
yobro.py
notify.py
greet.py
mp3/
ffmpeg.exe
ffplay.exe
ffprobe.exe
play.py
play2.py
lantest.py
dic.py
create_database.py

# 環境変数
.env
